{% extends "blank.html.twig" %}
{% block title %}
	{{ parent() }}
	Erreur interne du serveur
{% endblock %}
{% block content %}
	<section class="flex items-center h-screen justify-center p-16 w-full">
		<div class="container flex flex-col items-center justify-center px-5 mx-auto">
			<div class="flex flex-col items-center gap-6 max-w-md text-center ">
				<h1 class="font-semibold text-7xl">
					<span class="sr-only">Erreur</span>500
				</h1>
				<p class="font-medium md:text-3xl">
					Désolé, une erreur interne du serveur s'est produite.
				</p>
				<p>Veuillez réessayer plus tard.</p>
				<a rel="noopener noreferrer" href="/" class="w-max px-6 py-4 font-medium justify-center items-center text-sm rounded-full bg-primary hover:bg-primary/95 text-white">
					Retour à l'accueil
				</a>
			</div>
		</div>
	</section>
{% endblock %}
