{# Demo Banner Component #}
<div id="demoBanner" class="fixed bg-warning py-4 text-center bottom-0 w-full text-white text-sm z-[9999]" role="alert">
	<div class="px-12 relative">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline-block me-2" viewbox="0 0 16 16">
			<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</svg>
		Ce site est une version de démonstration qui est réinitialisée automatiquement chaque jour à minuit. Toutes les modifications effectuées seront perdues.

		<button id="closeDemoBanner" class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer" aria-label="Fermer la bannière de démonstration" onclick="document.getElementById('demoBanner').style.display='none'">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewbox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
		</button>
	</div>
</div>
