<div id="loader" class="fixed z-[9999] inset-0 bg-white flex flex-col items-center justify-center transition-all duration-500">
	<div class="relative w-16 h-16">
		<div class="absolute top-0 left-0 w-full h-full rounded-full border-8 border-gray-200"></div>
		<div class="absolute top-0 left-0 w-full h-full rounded-full border-8 border-t-primary border-r-transparent border-b-transparent border-l-transparent animate-spin"></div>
	</div>
</div>
