<div class="rounded-xl border bg-white">
	<div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
		<div class="tracking-tight font-medium">{{ card.title }}</div>
		{{ card.icon|raw }}
	</div>
	<div class="p-6 pt-0">
		<div class="text-2xl font-medium">{{ card.value }}</div>
		{% if card.description %}
			<p class="text-xs text-gray-500">{{ card.description }}</p>
		{% endif %}
	</div>
</div>
