{% extends "blank.html.twig" %}
{% block title %}
	{{ parent() }}
	Mot de passe oublié
{% endblock %}
{% block content %}
	{% do clear_session_alert() %}
	<div class="flex flex-wrap h-screen overflow-y-scroll">
		<div class="w-full lg:w-1/2 overflow-y-scroll flex flex-col justify-center items-start pt-4 px-4">
			<a href="/" class="inline-flex items-center justify-center px-3.5 py-2 rounded-full bg-white border text-sm font-medium gap-1.5">
				<svg class="h-4 w-4 flex-shrink-0" width="16px" height="16px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.7071 9.70711C12.0976 9.31658 12.0976 8.68342 11.7071 8.29289C11.3166 7.90237 10.6834 7.90237 10.2929 8.29289L7.37993 11.2059C7.36486 11.2209 7.35031 11.2363 7.33627 11.252C7.12998 11.4352 7 11.7024 7 12C7 12.2976 7.12998 12.5648 7.33627 12.748C7.3503 12.7637 7.36486 12.7791 7.37993 12.7941L10.2929 15.7071C10.6834 16.0976 11.3166 16.0976 11.7071 15.7071C12.0976 15.3166 12.0976 14.6834 11.7071 14.2929L10.4142 13L16 13C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11L10.4142 11L11.7071 9.70711Z" fill="#16c7cd"/>
				</svg>
				Retour au site
			</a>
			<form novalidate action="" method="post" class="flex flex-col mx-auto gap-4 max-w-md w-full my-auto">

				{% if session.alert  and session.alert.status == 'success' %}
					{% if session.alert.scope == 'reset-password' %}
						<h1 class="text-3xl font-medium font-heading">
							Mot de passe réinitialisé avec succès
						</h1>
						<p class="font-medium text-sm inline-block text-gray-500">
							Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
						</p>
						<div class="flex justify-end">
							<a class="inline-block text-primary decoration-2 underline-offset-2 hover:underline transition duration-200 text-sm font-medium" href="/login">
								Retour à la page de connexion
							</a>
						</div>

					{% else %}
						<h1 class="text-3xl font-medium font-heading">
							Email de réinitialisation envoyé
						</h1>
						<p class="font-medium text-sm inline-block text-gray-500">
							Si ce compte existe, un email de réinitialisation de mot de passe a été envoyé à l'adresse email que vous avez fournie.
						</p>
						<div class="flex justify-end">
							<a class="inline-block text-primary decoration-2 underline-offset-2 hover:underline transition duration-200 text-sm font-medium" href="/login">
								Retour à la page de connexion
							</a>
						</div>

					{% endif %}
				{% else %}

					{% if session.alert  and session.alert.status == 'error' %}
						<div class=" text-sm text-danger">
							{{ session.alert.message }}
						</div>
					{% endif %}
					{% if reset_user and token %}
						<h1 class="text-3xl font-medium font-heading">
							Choisissez un nouveau mot de passe
						</h1>
						<div class="relative w-full">
							<input type="text" placeholder="**********" name="password" id="password" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 not-focus:placeholder-transparent focus:pb-2 not-peer-placeholder-shown:pt-6 not-peer-placeholder-shown:pb-2 autofill:pt-6 autofill:pb-2" autocomplete="on" autocorrect="off" autocapitalize="off"/>
							<label for="password" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:-translate-y-1.5 peer-focus:-translate-x-0.5 not-peer-placeholder-shown:-translate-x-0.5 peer-focus:text-gray-500 not-peer-placeholder-shown:scale-90 not-peer-placeholder-shown:-translate-y-1.5 not-peer-placeholder-shown:text-gray-500">
								Mot de passe
							</label>
						</div>
						<div class="relative w-full">
							<input type="text" placeholder="**********" name="confirm-password" id="confirm-password" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 not-focus:placeholder-transparent focus:pb-2 not-peer-placeholder-shown:pt-6 not-peer-placeholder-shown:pb-2 autofill:pt-6 autofill:pb-2" autocomplete="on" autocorrect="off" autocapitalize="off"/>
							<label for="confirm-password" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:-translate-y-1.5 peer-focus:-translate-x-0.5 not-peer-placeholder-shown:-translate-x-0.5 peer-focus:text-gray-500 not-peer-placeholder-shown:scale-90 not-peer-placeholder-shown:-translate-y-1.5 not-peer-placeholder-shown:text-gray-500">
								Confirmer le mot de passe
							</label>
						</div>
						<input type="hidden" name="reset_user" value="{{ reset_user }}">
						<input type="hidden" name="token" value="{{ token }}">
						<button class="h-14 inline-flex text-sm items-center justify-center py-4 px-6 text-white font-medium font-heading rounded-xl bg-primary w-full text-center focus:ring focus:ring-primary transition duration-200 hover:bg-primary/95" type="submit">
							Confirmer le changement de mot de passe
						</button>
					{% else %}
						<h1 class="text-3xl font-medium font-heading">
							Mot de passe oublié
						</h1>
						<div class="relative w-full">
							<input type="text" placeholder="exemple@gmail.com" name="email" id="email" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 not-focus:placeholder-transparent focus:pb-2 not-peer-placeholder-shown:pt-6 not-peer-placeholder-shown:pb-2 autofill:pt-6 autofill:pb-2" autocomplete="on" autocorrect="off" autocapitalize="off"/>
							<label for="email" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:-translate-y-1.5 peer-focus:-translate-x-0.5 not-peer-placeholder-shown:-translate-x-0.5 peer-focus:text-gray-500 not-peer-placeholder-shown:scale-90 not-peer-placeholder-shown:-translate-y-1.5 not-peer-placeholder-shown:text-gray-500">
								Email
							</label>
						</div>
						<div class="flex justify-end">
							<a class="inline-block text-primary decoration-2 underline-offset-2 hover:underline transition duration-200 text-sm font-medium" href="/login">
								Retour à la page de connexion
							</a>
						</div>
						<button class="h-14 inline-flex text-sm items-center justify-center py-4 px-6 text-white font-medium font-heading rounded-xl bg-primary w-full text-center focus:ring focus:ring-primary transition duration-200 hover:bg-primary/95" type="submit">
							Envoyer un email de réinitialisation
						</button>
					{% endif %}

				{% endif %}
			</form>
		</div>
		<div class="w-full lg:w-1/2 lg:block hidden">
			<div class="bg-primary h-full">
				<div class="flex flex-col justify-center items-center h-full">
					<svg class="w-full" width="262" height="123" viewbox="0 0 262 123" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.64428 79V46.8H11.6363L28.5183 69.8L27.0003 69.57C26.8469 68.558 26.7243 67.592 26.6323 66.672C26.5403 65.752 26.4483 64.8473 26.3563 63.958C26.295 63.0687 26.2336 62.164 26.1723 61.244C26.1416 60.324 26.111 59.3273 26.0803 58.254C26.0803 57.1807 26.0803 56.0153 26.0803 54.758V46.8H33.6703V79H26.5863L8.96828 55.264L11.3143 55.586C11.4676 57.058 11.5903 58.3153 11.6823 59.358C11.8049 60.37 11.8969 61.2747 11.9583 62.072C12.0503 62.8693 12.1116 63.59 12.1423 64.234C12.173 64.878 12.1883 65.522 12.1883 66.166C12.219 66.7793 12.2343 67.4693 12.2343 68.236V79H4.64428ZM46.3498 79V46.8H68.7978V53.47H53.9398V72.33H69.2578V79H46.3498ZM50.0298 65.798V59.45H66.7278V65.798H50.0298ZM80.5982 79V46.8H94.4902C96.5142 46.8 98.3082 47.26 99.8722 48.18C101.467 49.1 102.724 50.3573 103.644 51.952C104.595 53.5467 105.07 55.3407 105.07 57.334C105.07 59.4193 104.595 61.29 103.644 62.946C102.724 64.5713 101.467 65.8593 99.8722 66.81C98.3082 67.7607 96.5142 68.236 94.4902 68.236H88.4182V79H80.5982ZM88.2802 61.382H93.3862C94.0609 61.382 94.6742 61.2133 95.2262 60.876C95.7782 60.5387 96.2229 60.0787 96.5602 59.496C96.8975 58.9133 97.0662 58.2387 97.0662 57.472C97.0662 56.6747 96.8975 56 96.5602 55.448C96.2229 54.896 95.7782 54.4667 95.2262 54.16C94.6742 53.8533 94.0609 53.7 93.3862 53.7H88.2802V61.382ZM167.894 79.276C165.226 79.276 162.849 78.7393 160.764 77.666C158.679 76.562 157.038 75.0593 155.842 73.158C154.677 71.2567 154.094 69.0793 154.094 66.626V46.8H162.006V66.212C162.006 67.3773 162.267 68.4353 162.788 69.386C163.309 70.306 164.015 71.042 164.904 71.594C165.793 72.1153 166.79 72.376 167.894 72.376C169.059 72.376 170.087 72.1153 170.976 71.594C171.896 71.042 172.632 70.306 173.184 69.386C173.736 68.4353 174.012 67.3773 174.012 66.212V46.8H181.648V66.626C181.648 69.0793 181.05 71.2567 179.854 73.158C178.689 75.0593 177.063 76.562 174.978 77.666C172.893 78.7393 170.531 79.276 167.894 79.276ZM194.098 79V46.8H201.09L217.972 69.8L216.454 69.57C216.3 68.558 216.178 67.592 216.086 66.672C215.994 65.752 215.902 64.8473 215.81 63.958C215.748 63.0687 215.687 62.164 215.626 61.244C215.595 60.324 215.564 59.3273 215.534 58.254C215.534 57.1807 215.534 56.0153 215.534 54.758V46.8H223.124V79H216.04L198.422 55.264L200.768 55.586C200.921 57.058 201.044 58.3153 201.136 59.358C201.258 60.37 201.35 61.2747 201.412 62.072C201.504 62.8693 201.565 63.59 201.596 64.234C201.626 64.878 201.642 65.522 201.642 66.166C201.672 66.7793 201.688 67.4693 201.688 68.236V79H194.098ZM235.803 79V46.8H258.251V53.47H243.393V72.33H258.711V79H235.803ZM239.483 65.798V59.45H256.181V65.798H239.483Z" fill="white"/>
						<path d="M129.068 4.01911C127.059 10.0044 124.659 15.7873 123.531 17.3632C123.141 17.9125 123.184 17.9704 123.893 17.8981C125.093 17.7535 126.437 16.7993 127.492 15.3247C127.738 14.9777 127.753 15.1367 127.68 19.8787C127.55 27.7724 126.958 33.2517 125.844 36.7214C125.454 37.8925 124.789 39.1936 124.326 39.6273C123.994 39.9454 123.994 39.9309 124.413 38.9478C124.644 38.3985 124.803 37.9358 124.789 37.9214C124.76 37.8925 124.543 37.9503 124.312 38.037C123.705 38.2394 122.852 37.9937 122.36 37.4877C121.811 36.9094 121.464 36.0564 120.871 33.7577C119.483 28.394 118.139 25.4448 115.854 22.7991C115.189 22.0328 115.16 21.975 115.478 21.975C116.274 21.975 118.818 22.9437 120.004 23.681L120.567 24.0424L120.293 23.6231C119.526 22.4377 119.252 22.0907 118.153 20.9919C116.866 19.6763 115.045 18.3752 113.238 17.4644C112.211 16.9584 109.406 15.9463 108.322 15.7006C107.845 15.5849 107.831 15.5415 108.741 16.8427C110.765 19.7486 112.254 24.5484 112.269 28.1483C112.283 29.0591 112.298 29.1025 112.5 28.8422C112.977 28.1916 113.324 26.7025 113.411 24.8086L113.498 22.9292L114.119 24.1725C115.348 26.6736 116.158 29.1458 116.693 32.124C116.996 33.7866 117.04 38.1382 116.78 39.8297C116.375 42.3019 115.406 45.3524 114.365 47.4198L113.989 48.1571L114.842 47.5788C118.948 44.803 123.155 44.2392 126.278 46.0753C127.044 46.5235 129.025 48.4607 128.794 48.533C128.707 48.5619 128.244 48.4029 127.782 48.1716C127.319 47.9403 126.798 47.6945 126.625 47.6511L126.292 47.5499V54.8508V79L134.678 79V62.1662V54.8508V47.5499L134.36 47.6511C134.172 47.6945 133.593 47.9692 133.058 48.2294C132.509 48.5041 132.075 48.6776 132.075 48.6053C132.075 48.3595 133.536 46.8704 134.287 46.35C137.396 44.2103 141.502 44.6151 145.969 47.4921L146.937 48.1138L146.316 46.7981C143.656 41.0875 143.251 34.6396 145.174 28.3507C145.593 26.9772 146.489 24.8086 147.125 23.6665L147.545 22.9147V24.505C147.545 26.1532 147.863 27.7146 148.383 28.6832L148.629 29.1314L148.73 27.57C148.831 25.7773 149.28 23.4207 149.814 21.8304C150.32 20.3124 151.752 17.421 152.46 16.4957C152.793 16.0765 153.038 15.7006 152.995 15.6717C152.923 15.5849 150.942 16.1487 149.786 16.5825C147.964 17.262 145.998 18.3318 144.509 19.4305C143.627 20.0956 141.892 21.8738 141.256 22.7702C140.374 24.028 140.374 24.0424 141.183 23.5653C142.499 22.7991 144.711 21.975 145.492 21.975C145.81 21.975 145.781 22.0328 145.116 22.7991C144.133 23.9412 142.86 25.9219 142.21 27.3676C141.458 28.9868 141.01 30.3458 140.229 33.2806C139.868 34.6396 139.449 36.0709 139.275 36.4612C138.74 37.7045 137.598 38.384 136.658 38.037C136.427 37.9503 136.225 37.878 136.196 37.878C136.109 37.878 136.485 38.9189 136.774 39.4828L137.034 39.9743L136.658 39.6418C136.152 39.1647 135.502 37.878 135.068 36.4901C133.984 33.0493 133.42 27.7001 133.29 19.8787C133.217 15.1367 133.232 14.9777 133.478 15.3247C134.533 16.7993 135.878 17.7535 137.078 17.8981C137.786 17.9704 137.829 17.9125 137.439 17.3776C136.21 15.6138 133.666 9.41166 131.483 2.77578C130.977 1.25777 130.528 -1.52588e-05 130.485 -1.52588e-05C130.442 -1.52588e-05 129.806 1.80715 129.068 4.01911Z" fill="white"/>
						<path d="M156 103.507L151.278 99.6112L152.753 93L147.5 96.7776L142.247 93L143.722 99.6112L139 103.507L144.666 104.334L147.5 110L150.334 104.334L156 103.507Z" fill="white"/>
						<path d="M188 103.507L183.278 99.6112L184.753 93L179.5 96.7776L174.247 93L175.722 99.6112L171 103.507L176.666 104.334L179.5 110L182.334 104.334L188 103.507Z" fill="white"/>
						<path d="M91 103.507L86.2776 99.6112L87.753 93L82.5 96.7776L77.247 93L78.7224 99.6112L74 103.507L79.6664 104.334L82.5 110L85.3336 104.334L91 103.507Z" fill="white"/>
						<path d="M123 103.507L118.278 99.6112L119.753 93L114.5 96.7776L109.247 93L110.722 99.6112L106 103.507L111.666 104.334L114.5 110L117.334 104.334L123 103.507Z" fill="white"/>
					</svg>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
